<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_dynamics_gazebo" params="name">
    <!--Gazebo Plugin for simulating Nhawigatora dynamics-->
    <gazebo >
      <!--<plugin name="heron_dynamic" filename="libheron_gazebo_plugins.so">-->
      <plugin name="usv_dynamics_${name}" filename="libusv_gazebo_dynamics_plugin.so">
	<bodyName>base_footprint</bodyName>
	<waterLevel>3</waterLevel>
	<waterDensity>997.8</waterDensity>
	<cmdTimeout>1.0</cmdTimeout>
	<xDotU>2</xDotU>
	<yDotV>0.5</yDotV>
	<nDotR>0.1</nDotR>
	<xU>4</xU>
	<xUU>0</xUU>
	<yV>6</yV>
	<yVV>0</yVV>
	<zW>4</zW> 
	<kP>2</kP>
	<mQ>0.5</mQ>
	<nR>2.4</nR>
	<nRR>0</nRR> 
	<boatArea>0.12</boatArea>
	<boatWidth>0.89</boatWidth>
	<boatLength>0.14</boatLength>
	<metacentricLength>0</metacentricLength>
	<metacentricWidth>0</metacentricWidth>
	
		<!-- Waves -->
	<wave_amp>0</wave_amp>
	<wave_period>0</wave_period>
	<wave_direction>0 0</wave_direction>

	<!-- Waves x3 -->
	<wave_n>0</wave_n>

	<wave_amp0>0</wave_amp0>
	<wave_period0>0</wave_period0>
	<wave_direction0>0 0</wave_direction0>

	<wave_amp1>0</wave_amp1>
	<wave_period1>0</wave_period1>
	<wave_direction1>0 0</wave_direction1>

	<wave_amp2>0</wave_amp2>
	<wave_period2>0</wave_period2>
	<wave_direction2>0 0</wave_direction2>

      </plugin>
      </gazebo>
  </xacro:macro>
</robot>
