<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_thrust_gazebo" params="name">
    <!--Gazebo Plugin for simulating WAM-V dynamics-->
    <gazebo >
      <plugin name="usv_thrust_${name}" filename="libusv_gazebo_thrust_plugin.so">
	<bodyName>base_footprint</bodyName>

	<!-- Which thruster curve to use -->
	<mappingType>1</mappingType>
	<!-- General dimensions -->
	<boatArea>0.42</boatArea>
	<boatWidth>0.3</boatWidth>
	<boatLength>1.4</boatLength>
	<thrustOffsetZ>-0.04</thrustOffsetZ>
	<!-- Thrust specification -->
	<maxCmd>1.0</maxCmd>
	<maxForceFwd>250.0</maxForceFwd>
	<maxForceRev>-100.0</maxForceRev>
	<cmdTimeout>1.0</cmdTimeout>
	
      </plugin>
      </gazebo>
  </xacro:macro>
</robot>
