<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_thrust_gazebo" params="name">
    <!--Gazebo Plugin for simulating WAM-V dynamics-->
    <gazebo >
      <plugin name="usv_thrust_${name}" filename="libusv_gazebo_nhawigatora_thrust_plugin.so">
		<bodyName>base_footprint</bodyName>

		<!-- Which thruster curve to use -->
		<mappingType>0</mappingType>
		<!-- Impeller configurations -->
		<bowThrusterMaxForceFwd>1</bowThrusterMaxForceFwd>
		<bowThrusterMaxForceRev>1</bowThrusterMaxForceRev>
		<propellerMaxForceFwd>1</propellerMaxForceFwd>
		<propellerMaxForceRev>1</propellerMaxForceRev>
		<!-- General dimensions -->
		<boatArea>0.12</boatArea>
		<boatWidth>0.89</boatWidth>
		<boatLength>0.14</boatLength>
		<thrusterOffsetZ>-0.01</thrusterOffsetZ>
		<!-- Thrust specification -->
		<cmdTimeout>1000</cmdTimeout>
		<maxCmd>1.0</maxCmd>

	  </plugin>
    </gazebo>
  </xacro:macro>
</robot>
